<h1><a href="/">{{title}}</a></h1>
<h2>Journal Entry</h2>
<p>
  {{date}}<br/>
  {{{text}}}<br/>
  <hr>
  {{#each urllist}}
    <a href="{{this}}">{{this}}</a><br/>
  {{/each}}
  {{#if notes}}
    <hr>
    {{notes}}
  {{/if}}
</p>