<h1><a href="/">{{title}}</a></h1>
<h2>Topic: {{label}}</h2>
<hr>
{{> air_form}}
<hr>
<h3>Body</h3>
<div style="overflow-y: auto; height:200px;">
    {{#each bodylist}}
        <p>
        {{{this}}}
        </p><br/>
    {{/each}}
</div>
{{#each urllist}}
    <a href="{{this}}">{{this}}</a><br/>
{{/each}}
<h3>Backlinks</h3>
<div style="overflow-y: auto; height:300px;">
   
    {{#each backlinks}}
        <li>{{{this}}}</li>
    {{/each}}

</div>